body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

section {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin: 0%;
  font-size: 80px;
  text-align: center;
  color: #464646;
  background-color: #a7a4a4;
}

.prefecture > p {
  font-size: 50px;
  color: #464646;
  margin: 0;
  font-weight: 900;
}

.checkbox {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.3em;
  font-weight: bold;
  color: #464646; 
  background: #fff;
  border: solid 3px #464646; 
  border-radius: 10px; 
  transition: 0.5s;
  font-size: 20px;
}

.checkbox:hover {
  cursor: default;
  transition: 0.5s;
  background-color: #c0bebe;
}

.checkbox > input:hover {
  cursor: pointer;
}

.chart {
  margin-top: 30px;
}

@media screen and (max-width:1440px) { 
  .title { font-size: 60px;}
  .prefecture > p {font-size: 50px;}
  .checkbox {font-size: 18px;}
}

@media screen and (max-width:1024px) { 
  .title { font-size: 50px;}
  .prefecture > p {font-size: 45px;}
  .checkbox {font-size: 15px;}
}

@media screen and (max-width:768px) { 
  .title { font-size: 30px;}
  .prefecture > p {font-size: 25px;}
  .checkbox {font-size: 12px;}
}

@media screen and (max-width:425px) { 
  .title { font-size: 28px;}
  .prefecture > p {font-size: 20px;}
  .checkbox {font-size: 10px;}
}

@media screen and (max-width:375px) { 
  .title { font-size: 25px;}
  .prefecture > p {font-size: 20px;}
  .checkbox {font-size: 15px;}
}